body {
    margin: 0;
    background-color: #f7f6f2;
}

.top {
    background-color: #a1bd57;
    min-height: 30vh;
}

.center-rectangle {
    position: relative;
    top: -100px;
    width: 70%;
    min-height: 30vh;
    margin: 0 auto;
    background-color: #fff;
    border: 3px solid rgb(207, 204, 204);
}