.main-text {
    padding: 40px;
    background: #B2D235;
    outline: 2px solid #fff;
    outline-offset: -20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #B6DEC2;
}

th,
td {
    padding: 5px;
    border: 2px solid #fff;
}

.frame-samples {
    padding: 10px;
}

.frame {
    background: #86328C;
    padding: 10px;
    margin: 10px;
    color: #fff;
}

/* Первый способ double */
.frame-1 {
    border: 6px double #fff;
}

/* Второй способ outline*/
.frame-2 {
    outline: 2px solid #fff;
    outline-offset: -4px;
}

/* Третий способ div>div*/
.frame-3 {
    margin: 0;
    padding: 2px;
}

.frame-3-1 {
    border: 2px solid #fff;
    padding: 10px;
}