* {
    margin: 0;
    padding: 0;
}

html {
    background: url(img/travolta.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    overflow: hidden;
}

.overlay{
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: rgba(0,0,0, 0.7);
}

.error-text {  
    position: relative;  
    z-index: 2;    
    color: #fff;
    text-align: center;
    font-size: 100px;
    margin-top: 40vh;
}